@model EShop.Domain.DTO.AddToShoppingCartDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid flex p-5 justify-content-center align-items-center" style="height: 600px; background-color: white">



    <div class="m-5">
        <h3 class="text-center">Add selected ticket to your shopping cart!</h3>

        <div class="row mt-4">
            <div class="col-md-4 m-auto">
                <form method="post" asp-action="AddTicketToCart">
                    <input type="hidden" asp-for="SelectedMovieId" />
                    <div class="form-group">
                        <label asp-for="SelectedMovie.MovieTitle"></label>
                        <input disabled asp-for="SelectedMovie.MovieTitle" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Quantity"></label>
                        <input type="number" asp-for="Quantity" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>